<?php

# API Info
$api_url = 'https://hostname/api_jsonrpc.php';
$api_user = '';
$api_pass = 'Base64Encode'; 

# Time in milliseconds.  1000 = 1 second
$reload_time = 60000;

# path on web server
$context = '/zabbix-dash2';

# Host Group filter in Regex
$host_group_filter = '/^Dash\//';
?>

